@tailwind base;
@tailwind components;
@tailwind utilities;

.marked h1 {
  @apply text-4xl;
}

.marked h2 {
  @apply text-3xl;
}

.marked h3 {
  @apply text-2xl;
}

.marked h4 {
  @apply text-xl;
}

.marked h5 {
  @apply text-lg;
}

.marked h6 {
  @apply text-xs;
}

.marked a {
  @apply underline text-blue-500;
}

.marked span {
  @apply text-pink-500;
}

.marked span .preview-backtick {
  @apply text-black;
}

.marked hr {
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
